<% layout('/layouts/boilerplate') %>
<h1>Edit Campgrounds</h1>
<span>
  <a
    style="color: blue; text-decoration: none"
    href="/campgrounds/<%=campgrounds._id  %> "
    >back to <%=campgrounds.title %>
  </a></span
>
<form action="/campgrounds/<%=campgrounds._id%>?_method=PUT" method="POST">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      name="campground[title]"
      id="title"
      value="<%=campgrounds.title%>"
    />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      name="campground[location]"
      id="location"
      value="<%=campgrounds.location%>"
    />
  </div>
  <button>Save and Continue</button>
</form>
