<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=campgrounds.title %></title>
  </head>
  <body>
    <h3><%=campgrounds.title %></h3>
    <p><%=campgrounds.location %></p>
    <p><%=campgrounds.created_at %></p>
    <a
      style="color: blue; text-decoration: none"
      href="/campgrounds/<%=campgrounds._id%>/edit "
      >edit </a
    ><br />
    <span>
      <a style="color: blue; text-decoration: none" href="/campgrounds"
        >all Campgrounds</a
      ></span
    >
    <form
      action="/campgrounds/<%=campgrounds._id%>?_method=DELETE "
      method="POST"
    >
      <button>Delete</button>
    </form>
  </body>
</html>
